{% include '_common.twig' %}
{% block head %}
	<style>
		#image {
			display: block;
			background: url( {{ app.image }} ) no-repeat center top;
			height: {{ app.imageHeight }}px;
		}
	</style>
{% endblock %}
{% block body %}
	<a id="image" href="{{ app.nextUrl }}"></a>
	<a id="back" class="btn btn-default" href="{{ app.currentPath }}">
		<i class="fa fa-arrow-left"></i><span>{{ app.goBackLabel }}</span>
	</a>
{% endblock %}