<!DOCTYPE html>
<html>
<head>
	<title>[{{ app.customer }}]&lt;{{ app.fileName }}&gt;</title>
	<link href="{{ app.basePath }}/css/normalize.css" rel="stylesheet">
	<link href="{{ app.basePath }}/css/style.css" rel="stylesheet">
	<style>
		#image {
			display: block;
			background: url( {{ app.image }} ) no-repeat center top;
			height: {{ app.imageHeight }}px;
		}
	</style>
</head>
<body>
	<a id="image" href="{{ app.nextUrl }}"></a>
</body>
</html>